<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shan.admin.mapper.GoodsDtoMapper" >
  <resultMap id="BaseResultMap" type="com.shan.admin.dto.GoodsDto" >
    <id column="goodsCode" property="goodscode" jdbcType="BIGINT" />
    <result column="barcode" property="barcode" jdbcType="BIGINT" />
    <result column="classifyId" property="classifyid" jdbcType="VARCHAR" />
    <result column="pClassifyId" property="pclassifyid" jdbcType="VARCHAR" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsImg" property="goodsimg" jdbcType="VARCHAR" />
    <result column="goodsUnit" property="goodsunit" jdbcType="VARCHAR" />
    <result column="isHot" property="ishot" jdbcType="INTEGER" />
    <result column="goodsType" property="goodstype" jdbcType="INTEGER" />
    <result column="vipPrice" property="vipprice" jdbcType="DECIMAL" />
    <result column="discountsPrice" property="discountsprice" jdbcType="DECIMAL" />
    <result column="specialSalePrice" property="specialsaleprice" jdbcType="DECIMAL" />
    <result column="wholesalePrice" property="wholesaleprice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="goodsDesc" property="goodsdesc" jdbcType="LONGVARCHAR" />
    <result column="goodsSpec" property="goodsspec" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_goods
    where goodsCode = #{goodscode,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.shan.admin.dto.GoodsDto" >
    insert into tb_goods (goodsCode, barcode, classifyId, pClassifyId,
      goodsName, goodsImg,
      goodsUnit, isHot, goodsType, vipPrice,
      discountsPrice, specialSalePrice, wholesalePrice, 
      price, deleted, createTime, 
      updateTime, goodsDesc, goodsSpec
      )
    values (#{goodscode,jdbcType=BIGINT}, #{barcode,jdbcType=BIGINT}, #{classifyid,jdbcType=VARCHAR}, #{pclassifyid,jdbcType=VARCHAR},
      #{goodsname,jdbcType=VARCHAR}, #{goodsimg,jdbcType=VARCHAR},
      #{goodsunit,jdbcType=VARCHAR}, #{ishot,jdbcType=INTEGER}, #{goodstype,jdbcType=INTEGER}, #{vipprice,jdbcType=DECIMAL},
      #{discountsprice,jdbcType=DECIMAL}, #{specialsaleprice,jdbcType=DECIMAL}, #{wholesaleprice,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{deleted,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{goodsdesc,jdbcType=LONGVARCHAR}, #{goodsspec,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shan.admin.dto.GoodsDto" >
    update tb_goods
    set barcode = #{barcode,jdbcType=BIGINT},
      classifyId = #{classifyid,jdbcType=VARCHAR},
      pClassifyId = #{pclassifyid,jdbcType=VARCHAR},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsImg = #{goodsimg,jdbcType=VARCHAR},
      goodsUnit = #{goodsunit,jdbcType=VARCHAR},
      isHot = #{ishot,jdbcType=INTEGER},
      goodsType = #{goodstype,jdbcType=INTEGER},
      vipPrice = #{vipprice,jdbcType=DECIMAL},
      discountsPrice = #{discountsprice,jdbcType=DECIMAL},
      specialSalePrice = #{specialsaleprice,jdbcType=DECIMAL},
      wholesalePrice = #{wholesaleprice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      deleted = #{deleted,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      goodsDesc = #{goodsdesc,jdbcType=LONGVARCHAR},
      goodsSpec = #{goodsspec,jdbcType=LONGVARCHAR}
    where goodsCode = #{goodscode,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select goodsCode, barcode, classifyId, pClassifyId, goodsName, goodsImg, goodsUnit, isHot, goodsType,
    vipPrice, discountsPrice, specialSalePrice, wholesalePrice, price, deleted, createTime, 
    updateTime, goodsDesc, goodsSpec
    from tb_goods
    where goodsCode = #{goodscode,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeyword" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select goodsCode, barcode, classifyId, pClassifyId, goodsName, goodsImg, goodsUnit, isHot, goodsType
    vipPrice, discountsPrice, specialSalePrice, wholesalePrice, price, deleted, createTime,
    updateTime, goodsDesc, goodsSpec
    from tb_goods
    where goodsCode = #{goodscode,jdbcType=BIGINT} or barcode = #{barcode,jdbcType=BIGINT}
     or goodsName = #{goodsname,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select goodsCode, barcode, classifyId, pClassifyId, goodsName, goodsImg, goodsUnit, isHot, goodsType
    vipPrice, discountsPrice, specialSalePrice, wholesalePrice, price, deleted, createTime, 
    updateTime, goodsDesc, goodsSpec
    from tb_goods
    <where>
      <if test="keyword != null and keyword != ''" >
        (goodsCode like #{keyword} or barcode like #{keyword} or goodsName like #{keyword})
      </if>
      <if test="classifyid != null and classifyid != ''" >
        and classifyId like #{classifyid}
      </if>
      <if test="pclassifyid != null and pclassifyid != ''" >
        and pClassifyId like #{pclassifyid}
      </if>
    </where>
    order by createTime desc
  </select>
</mapper>