<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shan.admin.mapper.SysDepartmentDtoMapper" >
  <resultMap id="BaseResultMap" type="com.shan.admin.dto.SysDepartmentDto" >
    <id column="departmentId" property="departmentid" jdbcType="VARCHAR" />
    <result column="departmentName" property="departmentname" jdbcType="VARCHAR" />
    <result column="departmentDesc" property="departmentdesc" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_sys_department
    where departmentId = #{departmentid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shan.admin.dto.SysDepartmentDto" >
    insert into tb_sys_department (departmentId, departmentName, departmentDesc, 
      createTime, updateTime)
    values (#{departmentid,jdbcType=VARCHAR}, #{departmentname,jdbcType=VARCHAR}, #{departmentdesc,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shan.admin.dto.SysDepartmentDto" >
    update tb_sys_department
    set departmentName = #{departmentname,jdbcType=VARCHAR},
      departmentDesc = #{departmentdesc,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where departmentId = #{departmentid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select departmentId, departmentName, departmentDesc, createTime, updateTime
    from tb_sys_department
    where departmentId = #{departmentid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select departmentId, departmentName, departmentDesc, createTime, updateTime
    from tb_sys_department
    where departmentName = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select departmentId, departmentName, departmentDesc, createTime, updateTime
    from tb_sys_department
  </select>
</mapper>