<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shan.admin.mapper.WarehouseDtoMapper">
    <resultMap id="BaseResultMap" type="com.shan.admin.dto.WarehouseDto">
        <id column="warehouseId" property="warehouseid" jdbcType="VARCHAR"/>
        <result column="warehouseName" property="warehousename" jdbcType="VARCHAR"/>
        <result column="warehouseImg" property="warehouseimg" jdbcType="VARCHAR"/>
        <result column="warehouseSn" property="warehousesn" jdbcType="VARCHAR"/>
        <result column="provinceId" property="provinceid" jdbcType="INTEGER"/>
        <result column="cityId" property="cityid" jdbcType="INTEGER"/>
        <result column="districtId" property="districtid" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP"/>
        <result column="warehouseDesc" property="warehousedesc" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_warehouse
    where warehouseId = #{warehouseid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.shan.admin.dto.WarehouseDto">
    insert into tb_warehouse (warehouseId, warehouseName, warehouseImg,
      warehouseSn, provinceId, cityId, districtId, address,
      deleted, createTime, updateTime,
      warehouseDesc)
    values (#{warehouseid,jdbcType=VARCHAR}, #{warehousename,jdbcType=VARCHAR}, #{warehouseimg,jdbcType=VARCHAR},
      #{warehousesn,jdbcType=VARCHAR}, #{provinceid,jdbcType=INTEGER}, #{cityid,jdbcType=INTEGER},#{districtid,jdbcType=INTEGER},#{address,jdbcType=VARCHAR},
      #{deleted,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
      #{warehousedesc,jdbcType=LONGVARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.shan.admin.dto.WarehouseDto">
    update tb_warehouse
    set warehouseName = #{warehousename,jdbcType=VARCHAR},
      warehouseImg = #{warehouseimg,jdbcType=VARCHAR},
      warehouseSn = #{warehousesn,jdbcType=VARCHAR},
      provinceId = #{provinceid,jdbcType=INTEGER},
      cityId = #{cityid,jdbcType=INTEGER},
      districtId = #{districtid,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      warehouseDesc = #{warehousedesc,jdbcType=LONGVARCHAR}
    where warehouseId = #{warehouseid,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select warehouseId, warehouseName, warehouseImg, warehouseSn, provinceId, cityId, districtId, address, deleted,
    createTime, updateTime, warehouseDesc
    from tb_warehouse
    where warehouseId = #{warehouseid,jdbcType=VARCHAR}
  </select>
    <select id="selectByPrimaryName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select warehouseId, warehouseName, warehouseImg, warehouseSn, provinceId, cityId, districtId, address, deleted,
    createTime, updateTime, warehouseDesc
    from tb_warehouse
    where warehouseName = #{name,jdbcType=VARCHAR}
  </select>
    <select id="selectByPrimarySn" resultMap="BaseResultMap" parameterType="java.lang.String">
    select warehouseId, warehouseName, warehouseImg, warehouseSn, provinceId, cityId, districtId, address, deleted,
    createTime, updateTime, warehouseDesc
    from tb_warehouse
    where warehouseSn = #{warehousesn,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="AreaResultMap">
        select warehouseId, warehouseName, warehouseImg, warehouseSn, provinceId, cityId, districtId, address, deleted,
        createTime, updateTime, warehouseDesc
        from tb_warehouse
        <where>
            <if test="keyword != null and keyword != ''">
                (warehouseId like #{keyword} or warehouseName like #{keyword} or warehouseSn like #{keyword})
            </if>
            <if test="provinceid != null and provinceid != 0">
                and provinceId = #{provinceid,jdbcType=INTEGER}
            </if>
            <if test="cityid != null and cityid != 0">
                and cityId = #{cityid,jdbcType=INTEGER}
            </if>
            <if test="districtid != null and districtid != 0">
                and districtId = #{districtid,jdbcType=INTEGER}
            </if>
            and deleted = 0
            order by createTime desc
        </where>
    </select>

    <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
    <resultMap type="com.shan.admin.dto.WarehouseDto" id="AreaResultMap">
        <id column="warehouseId" property="warehouseid" jdbcType="VARCHAR"/>
        <result column="warehouseName" property="warehousename" jdbcType="VARCHAR"/>
        <result column="warehouseImg" property="warehouseimg" jdbcType="VARCHAR"/>
        <result column="warehouseSn" property="warehousesn" jdbcType="VARCHAR"/>
        <result column="provinceId" property="provinceid" jdbcType="INTEGER"/>
        <result column="cityId" property="cityid" jdbcType="INTEGER"/>
        <result column="districtId" property="districtid" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP"/>
        <result column="warehouseDesc" property="warehousedesc" jdbcType="LONGVARCHAR"/>
        <association property="province" column="provinceid" select="getArea"/>
        <association property="city" column="cityid" select="getArea"/>
        <association property="district" column="districtid" select="getArea"/>
    </resultMap>

    <select id="getArea" resultType="com.shan.admin.dto.AreaDto">
        SELECT * FROM tb_area WHERE areaId=#{areaid}
    </select>
</mapper>