<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shan.admin.mapper.WarehouseGoodsDtoMapper" >
  <resultMap id="BaseResultMap" type="com.shan.admin.dto.WarehouseGoodsDto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="warehouseId" property="warehouseid" jdbcType="VARCHAR" />
    <result column="goodsCode" property="goodscode" jdbcType="BIGINT" />
    <result column="goodsStock" property="goodsstock" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="saleNum" property="salenum" jdbcType="INTEGER" />
    <result column="vipPrice" property="vipprice" jdbcType="DECIMAL" />
    <result column="discountsPrice" property="discountsprice" jdbcType="DECIMAL" />
    <result column="specialSalePrice" property="specialsaleprice" jdbcType="DECIMAL" />
    <result column="wholesalePrice" property="wholesaleprice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_warehouse_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shan.admin.dto.WarehouseGoodsDto" >
    insert into tb_warehouse_goods (id, warehouseId, goodsCode, 
      goodsStock, deleted, saleNum, 
      vipPrice, discountsPrice, specialSalePrice, 
      wholesalePrice, price, createTime, 
      updateTime)
    values (#{id,jdbcType=VARCHAR}, #{warehouseid,jdbcType=VARCHAR}, #{goodscode,jdbcType=BIGINT}, 
      #{goodsstock,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, #{salenum,jdbcType=INTEGER}, 
      #{vipprice,jdbcType=DECIMAL}, #{discountsprice,jdbcType=DECIMAL}, #{specialsaleprice,jdbcType=DECIMAL}, 
      #{wholesaleprice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shan.admin.dto.WarehouseGoodsDto" >
    update tb_warehouse_goods
    set warehouseId = #{warehouseid,jdbcType=VARCHAR},
      goodsCode = #{goodscode,jdbcType=BIGINT},
      goodsStock = #{goodsstock,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      saleNum = #{salenum,jdbcType=INTEGER},
      vipPrice = #{vipprice,jdbcType=DECIMAL},
      discountsPrice = #{discountsprice,jdbcType=DECIMAL},
      specialSalePrice = #{specialsaleprice,jdbcType=DECIMAL},
      wholesalePrice = #{wholesaleprice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, warehouseId, goodsCode, goodsStock, deleted, saleNum, vipPrice, discountsPrice, 
    specialSalePrice, wholesalePrice, price, createTime, updateTime
    from tb_warehouse_goods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, warehouseId, goodsCode, goodsStock, deleted, saleNum, vipPrice, discountsPrice, 
    specialSalePrice, wholesalePrice, price, createTime, updateTime
    from tb_warehouse_goods
  </select>
</mapper>